@-webkit-keyframes tailAnimate {
  from {
    -webkit-transform: translateY(7%) rotate(1deg);
            transform: translateY(7%) rotate(1deg);
  }
  to {
    -webkit-transform: translateY(10%) rotate(-3deg);
            transform: translateY(10%) rotate(-3deg);
  }
}

@keyframes tailAnimate {
  from {
    -webkit-transform: translateY(7%) rotate(1deg);
            transform: translateY(7%) rotate(1deg);
  }
  to {
    -webkit-transform: translateY(10%) rotate(-3deg);
            transform: translateY(10%) rotate(-3deg);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  background-color: #faf1de;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(194, 152, 107, 0.12)), color-stop(11%, rgba(200, 160, 0, 0.1)), color-stop(35%, rgba(0, 0, 0, 0)), color-stop(65%, rgba(200, 160, 0, 0.1))), url(/img/noise-texture.png);
  background-image: linear-gradient(to right, rgba(194, 152, 107, 0.12), rgba(200, 160, 0, 0.1) 11%, rgba(0, 0, 0, 0) 35%, rgba(200, 160, 0, 0.1) 65%), url(/img/noise-texture.png);
  -webkit-box-shadow: inset 0 0 15px 20px rgba(212, 176, 131, 0.02), inset 0 0 20px rgba(179, 149, 111, 0.5), inset 0 0 30px rgba(181, 134, 90, 0.75);
          box-shadow: inset 0 0 15px 20px rgba(212, 176, 131, 0.02), inset 0 0 20px rgba(179, 149, 111, 0.5), inset 0 0 30px rgba(181, 134, 90, 0.75);
  font-family: 'Itim', cursive;
  line-height: 2.4rem;
  color: #404041;
  padding: 16px;
}

*::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a33948;
  opacity: 1;
  /* Firefox */
}

*:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a33948;
  opacity: 1;
  /* Firefox */
}

*::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a33948;
  opacity: 1;
  /* Firefox */
}

*::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a33948;
  opacity: 1;
  /* Firefox */
}

*:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a33948;
}

*::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #a33948;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

section {
  margin-bottom: 2rem;
}

.text-italic {
  font-style: italic;
}

nav {
  display: relative;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

nav .nav-container {
  position: relative;
  display: block;
  max-width: calc(100% - 2rem);
}

@media (max-width: 500px) {
  nav .nav-container {
    margin-bottom: 2rem;
  }
}

nav .nav-container .nav-top-img {
  display: block;
  max-width: 100%;
  height: 15rem;
  position: relative;
  left: 2rem;
  bottom: 0.2rem;
  mix-blend-mode: multiply;
}

@media (max-width: 500px) {
  nav .nav-container .nav-top-img {
    height: 11rem;
  }
}

nav .nav-container .nav-btn {
  outline: none;
  background-color: #f5e9c8;
  border: 0.3rem solid #9a3337;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: -1rem;
  bottom: 0;
  cursor: pointer;
}

@media (max-width: 500px) {
  nav .nav-container .nav-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

nav .nav-container .nav-btn:hover span {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  background-color: #464545;
}

nav .nav-container .nav-btn span {
  display: block;
  background-color: #666666;
  height: 0.3rem;
  width: 55%;
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
  -webkit-transition: -webkit-transform 0.7s ease;
  transition: -webkit-transform 0.7s ease;
  transition: transform 0.7s ease;
  transition: transform 0.7s ease, -webkit-transform 0.7s ease;
}

nav .nav-container .nav-btn span:nth-of-type(1) {
  margin-top: 0.1rem;
}

nav .nav-container .nav-btn span:nth-of-type(2) {
  width: 45%;
  padding-left: 0.25rem;
}

nav .nav-container .nav-btn span:nth-of-type(3) {
  width: 50%;
  padding-left: 0.5rem;
}

nav .nav-container .nav-btn span:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

nav .nav-container .nav-holder {
  position: relative;
  top: -1.6rem;
  left: 1rem;
}

@media (max-width: 500px) {
  nav .nav-container .nav-holder {
    max-width: 0;
    max-height: 0;
    overflow: hidden;
  }
}

nav .nav-container .nav-holder:hover ~ .logo-frame .logo-hand {
  -webkit-transform: translateY(186%) rotate(28deg) !important;
          transform: translateY(186%) rotate(28deg) !important;
}

nav .nav-container .nav-holder .nav-bottom-img {
  display: block;
  max-width: 100%;
  margin: auto;
  position: relative;
  min-height: 5.028rem;
  mix-blend-mode: multiply;
}

nav .nav-container .nav-holder .nav-ul-wrapper {
  position: absolute;
  top: 26%;
  left: 0;
  right: 0;
  -webkit-transform: rotate(-1.5deg);
          transform: rotate(-1.5deg);
}

@media (max-width: 700px) {
  nav .nav-container .nav-holder .nav-ul-wrapper {
    top: 24%;
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
}

nav .nav-container .nav-holder .nav-ul-wrapper .nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 20rem;
  padding-right: 10rem;
}

@media (max-width: 700px) {
  nav .nav-container .nav-holder .nav-ul-wrapper .nav-ul {
    padding-left: 15rem;
    padding-right: 2rem;
  }
}

@media (max-width: 700px) {
  nav .nav-container .nav-holder .nav-ul-wrapper .nav-ul li:not(:last-of-type) {
    margin-right: 0.5rem;
  }
}

nav .nav-container .nav-holder .nav-ul-wrapper .nav-ul li a {
  color: #f4e7d7;
  text-decoration: none;
  font-size: 1.4rem;
}

nav .nav-container .nav-holder .nav-ul-wrapper .nav-ul li a:hover {
  color: #e02424;
}

nav .nav-container .logo-frame {
  position: absolute;
  height: auto;
  top: -0.1rem;
  width: 18rem;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

@media (max-width: 700px) {
  nav .nav-container .logo-frame {
    width: 18rem;
  }
}

@media (max-width: 500px) {
  nav .nav-container .logo-frame {
    width: 11.5rem;
  }
}

nav .nav-container .logo-frame .logo-frame-inside .logo-body {
  position: absolute;
  left: 0;
}

nav .nav-container .logo-frame .logo-frame-inside .logo-hand {
  position: absolute;
  -webkit-transform: translateY(186%) rotate(0deg);
          transform: translateY(186%) rotate(0deg);
  right: 2%;
  -webkit-transform-origin: -5% 52%;
          transform-origin: -5% 52%;
  width: 47%;
  -webkit-transition: -webkit-transform 0.7s ease;
  transition: -webkit-transform 0.7s ease;
  transition: transform 0.7s ease;
  transition: transform 0.7s ease, -webkit-transform 0.7s ease;
}

nav .nav-container .logo-frame .logo-frame-inside .logo-tail {
  position: absolute;
  left: 3%;
  width: 41%;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: translateY(7%) rotate(0);
          transform: translateY(7%) rotate(0);
  -webkit-animation-name: tailAnimate;
          animation-name: tailAnimate;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

nav .nav-container a.nav-title {
  font-size: 3.5rem;
  text-decoration: none;
  top: 3.5rem;
  left: 11.2rem;
  position: absolute;
  font-family: 'Carter One', cursive;
  color: #f4e7d7;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  line-height: 1em;
}

@media (max-width: 700px) {
  nav .nav-container a.nav-title {
    left: calc(50% + 4.6rem);
  }
}

@media (max-width: 500px) {
  nav .nav-container a.nav-title {
    top: 2rem;
    font-size: 2.5rem;
  }
}

nav .nav-container .nav-p {
  font-size: 2rem;
  top: 8rem;
  left: 16rem;
  position: absolute;
  color: #f4e7d7;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 700px) {
  nav .nav-container .nav-p {
    left: calc(50% + 4rem);
  }
}

@media (max-width: 500px) {
  nav .nav-container .nav-p {
    top: 5rem;
    font-size: 1.4rem;
  }
}

@media (max-width: 500px) {
  nav.expanded .nav-container .nav-holder {
    max-width: unset;
    max-height: unset;
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(63, 63, 64, 0.4);
    z-index: 1;
  }
  nav.expanded .nav-container .nav-holder .nav-ul-wrapper {
    padding-top: 10rem;
    background-color: #faf1de;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(194, 152, 107, 0.12)), color-stop(11%, rgba(200, 160, 0, 0.1)), color-stop(35%, rgba(0, 0, 0, 0)), color-stop(65%, rgba(200, 160, 0, 0.1))), url(/img/noise-texture.png);
    background-image: linear-gradient(to right, rgba(194, 152, 107, 0.12), rgba(200, 160, 0, 0.1) 11%, rgba(0, 0, 0, 0) 35%, rgba(200, 160, 0, 0.1) 65%), url(/img/noise-texture.png);
    -webkit-box-shadow: inset 0 0 15px 20px rgba(212, 176, 131, 0.02), inset 0 0 20px rgba(179, 149, 111, 0.5), inset 0 0 30px rgba(181, 134, 90, 0.75);
            box-shadow: inset 0 0 15px 20px rgba(212, 176, 131, 0.02), inset 0 0 20px rgba(179, 149, 111, 0.5), inset 0 0 30px rgba(181, 134, 90, 0.75);
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    width: 70%;
    min-width: 20rem;
  }
  nav.expanded .nav-container .nav-holder .nav-ul-wrapper .nav-ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 4rem;
  }
  nav.expanded .nav-container .nav-holder .nav-ul-wrapper .nav-ul li {
    margin-bottom: 2rem;
  }
  nav.expanded .nav-container .nav-holder .nav-ul-wrapper .nav-ul li a {
    color: #404041;
    font-size: 2.1rem;
  }
  nav.expanded .nav-container .nav-holder .nav-ul-wrapper .nav-ul li a:hover {
    color: #a33948;
  }
  nav.expanded .nav-container .nav-holder .nav-bottom-img {
    display: none;
  }
}

.red-fill-frame {
  position: relative;
  font-size: 1.6rem;
  border-radius: 0.2rem;
  padding-top: 1.7rem;
  color: #fff;
  background-color: #a33948;
  background-image: url("./img/rfillframe3.png");
  mix-blend-mode: multiply;
  margin-top: 5.8rem;
  margin-bottom: auto;
}

.red-fill-frame::before {
  content: '';
  display: block;
  background-image: url("../img/rfillframe1.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 5rem;
  height: 5rem;
  top: -4.9rem;
}

.red-fill-frame::after {
  content: '';
  display: block;
  background-image: url("../img/rfillframe2.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 50px;
  top: -49px;
  right: 0;
  width: calc(100% - 49px);
}

.red-fill-frame .red-fill-frame-content {
  position: relative;
  top: -31px;
  left: 0;
  z-index: 8;
  padding: 2px 74px;
  text-align: center;
}

.red-fill-frame .red-fill-frame-content::before {
  content: '';
  display: block;
  background-image: url(../img/paw.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 34px;
  height: 38px;
  top: -46px;
  left: -2px;
}

.frame-retro {
  background-image: url(/img/frame/frame_top-left-edge.svg), url(/img/frame/frame_top-right-edge.svg), url(/img/frame/frame_bottom-right-edge.svg), url(/img/frame/frame_bottom-left-edge.svg), url(/img/frame/frame_top-line.svg), url(/img/frame/frame_right-line.svg), url(/img/frame/frame_bottom-line.svg), url(/img/frame/frame_left-line.svg);
  background-position: left top, right top, right bottom, left bottom, center top, right center, center bottom, left center;
  background-size: 35px, 35px, 35px, 35px, calc(100% - 68px) 4px, 4px calc(100% - 68px), calc(100% - 68px) 4px, 4px calc(100% - 68px);
  background-repeat: no-repeat;
  position: relative;
  padding: 2.8rem 2rem;
  font-size: 1.6rem;
}

.frame-retro h2 {
  font-family: 'Carter One', cursive;
  font-weight: 100;
  font-size: 30px;
  white-space: nowrap;
  margin-bottom: 20px;
  text-align: center;
}

.frame-retro.frame-etymology .etymology-inside-duo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.5rem;
}

@media (max-width: 700px) {
  .frame-retro.frame-etymology .etymology-inside-duo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.frame-retro.frame-etymology span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.frame-retro.frame-etymology figure {
  max-width: 25%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 1.5rem;
}

@media (max-width: 700px) {
  .frame-retro.frame-etymology figure {
    margin-right: auto;
    margin-left: auto;
    max-width: 50%;
    margin-bottom: 1.5rem;
  }
}

.frame-retro.frame-etymology figure img {
  width: 100%;
}

.frame-retro.frame-superstition {
  padding-bottom: 12rem;
}

.frame-retro.frame-superstition img {
  position: absolute;
  bottom: 0.1rem;
  right: 0;
  height: 12rem;
}

.frame-retro.frame-calculator {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-height: 62%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.frame-retro.frame-calculator h3 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.1rem;
  font-family: 'Carter One', cursive;
  font-weight: 100;
}

.frame-retro.frame-calculator p:first-of-type {
  text-align: center;
  margin-bottom: 1.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  font-style: italic;
}

.frame-retro.frame-calculator p:last-child {
  text-align: center;
  margin-top: 1.5rem;
}

.frame-retro.frame-calculator .frame-calc {
  margin: auto;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.frame-retro.frame-calculator .input-calc {
  background-color: transparent;
  height: 8.7rem;
  font-size: 2.4rem;
  font-family: 'Carter One', cursive;
  width: 17rem;
  position: absolute;
  padding: 1rem;
  text-align: center;
  line-height: 3.1rem;
  resize: none;
  color: #a33948;
  padding-left: 1.7rem;
  outline: none;
  border: none;
}

.frame-retro.frame-calculator .img-calc {
  width: 17rem;
  display: block;
}

.frame-retro.frame-calculator #humanAge {
  font-size: 2.4rem;
  font-family: 'Carter One', cursive;
}

.life-span-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 700px) {
  .life-span-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.life-span-section .lss-part-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 55%;
          flex: 1 0 55%;
  margin-right: 2rem;
}

@media (max-width: 700px) {
  .life-span-section .lss-part-1 {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 55%;
            flex: 1 0 55%;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

.life-span-section .lss-part-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 700px) {
  .life-span-section .lss-part-2 .red-fill-frame {
    margin-bottom: 2rem;
  }
}

/* // noise texture
https://www.cssmatic.com/noise-texture */
/*# sourceMappingURL=style.css.map */