@keyframes tailAnimate {
	from {
		transform: translateY(7%) rotate(1deg);
	}
	to {
		transform: translateY(10%) rotate(-3deg);
	}
}

// CSS reset --- START
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	box-sizing: border-box;
}
// CSS reset --- END

body {
	background-color: #faf1de;
	background-image: linear-gradient(
			to right,
			hsla(31, 42%, 59%, 0.12),
			rgba(200, 160, 0, 0.1) 11%,
			rgba(0, 0, 0, 0) 35%,
			rgba(200, 160, 0, 0.1) 65%
		),
		url(/img/noise-texture.png);
	box-shadow: inset 0 0 15px 20px rgba(212, 176, 131, 0.02),
		inset 0 0 20px hsla(33, 31%, 57%, 0.5),
		inset 0 0 30px hsla(29, 38%, 53%, 0.75);
	font-family: 'Itim', cursive;
	line-height: 2.4rem;
	color: #404041;
	padding: 16px;
}

*::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #a33948;
	opacity: 1; /* Firefox */
}
*:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #a33948;
}
*::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #a33948;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	max-width: 80rem;
	margin-right: auto;
	margin-left: auto;
}

section {
	margin-bottom: 2rem;
}

.text-italic {
	font-style: italic;
}

nav {
	display: relative;
	max-width: 80rem;
	margin-right: auto;
	margin-left: auto;

	.nav-container {
		position: relative;
		display: block;
		max-width: calc(100% - 2rem);

		.nav-top-img {
			display: block;
			max-width: 100%;
			min-height: 15rem;
			position: relative;
			left: 2rem;
			bottom: 0.2rem;
			mix-blend-mode: multiply;
		}

		.nav-holder {
			cursor: pointer;
			position: relative;
			top: -1.6rem;
			left: 1rem;

			&:hover ~ .logo-frame .logo-hand {
				transform: translateY(186%) rotate(28deg) !important;
			}

			.nav-bottom-img {
				display: block;
				max-width: 100%;
				margin: auto;
				position: relative;
				min-height: 5.028rem;
				mix-blend-mode: multiply;
			}

			.nav-ul-wrapper {
				position: absolute;
				top: 26%;
				left: 0;
				right: 0;
				outline: 1px solid red;
				transform: rotate(-1.5deg);

				.nav-ul {
					display: flex;
					justify-content: space-between;
					padding-left: 15rem;
					padding-right: 5rem;

					li {
						a {
							color: #f4e7d7;
							text-decoration: none;
							font-size: 1.4rem;

							&:hover {
								color: #e02424;
							}
						}
					}
				}
			}
		}

		.logo-frame {
			position: absolute;
			z-index: 8;
			height: auto;
			top: -0.1rem;
			width: 18rem;

			.logo-frame-inside {
				.logo-body {
					position: absolute;
					left: 0;
				}

				.logo-hand {
					position: absolute;
					transform: translateY(186%) rotate(0deg);
					right: 2%;
					transform-origin: -5% 52%;
					width: 47%;
					transition: transform 0.7s ease;
				}

				.logo-tail {
					position: absolute;
					left: 3%;
					width: 41%;
					transform-origin: bottom left;
					transform: translateY(7%) rotate(0);
					animation-name: tailAnimate;
					animation-duration: 2s;
					animation-iteration-count: infinite;
					animation-direction: alternate;
				}
			}
		}

		a.nav-title {
			font-size: 3.5rem;
			text-decoration: none;
			top: 4rem;
			left: 11.2rem;
			position: absolute;
			font-family: 'Carter One', cursive;
			color: #f4e7d7;
			left: 50%;
			transform: translateX(-50%);
		}

		.nav-p {
			font-size: 2rem;
			top: 8rem;
			left: 16rem;
			position: absolute;
			color: #f4e7d7;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

.red-fill-frame {
	position: relative;
	font-size: 1.6rem;
	border-radius: 0.2rem;
	padding-top: 1.7rem;
	color: #fff;
	background-color: #a33948;
	background-image: url('./img/rfillframe3.png');
	mix-blend-mode: multiply;
	margin-top: 5.8rem;
	margin-bottom: auto;

	&::before {
		content: '';
		display: block;
		background-image: url(../img/rfillframe1.png);
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		width: 5rem;
		height: 5rem;
		top: -4.9rem;
	}

	&::after {
		content: '';
		display: block;
		background-image: url(../img/rfillframe2.png);
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		height: 50px;
		top: -49px;
		right: 0;
		width: calc(100% - 49px);
	}

	.red-fill-frame-content {
		position: relative;
		top: -31px;
		left: 0;
		z-index: 8;
		padding: 2px 74px;
		text-align: center;

		&::before {
			content: '';
			display: block;
			background-image: url(../img/paw.png);
			background-repeat: no-repeat;
			background-size: cover;
			position: absolute;
			width: 34px;
			height: 38px;
			top: -46px;
			left: -2px;
		}
	}
}

@media only screen and (min-width: 800px) {
	.nav-top-img {
		display: block;
	}
}

.frame-retro {
	background-image: url(/img/frame/frame_top-left-edge.svg),
		url(/img/frame/frame_top-right-edge.svg),
		url(/img/frame/frame_bottom-right-edge.svg),
		url(/img/frame/frame_bottom-left-edge.svg),
		url(/img/frame/frame_top-line.svg), url(/img/frame/frame_right-line.svg),
		url(/img/frame/frame_bottom-line.svg), url(/img/frame/frame_left-line.svg);
	background-position: left top, right top, right bottom, left bottom,
		center top, right center, center bottom, left center;
	background-size: 35px, 35px, 35px, 35px, calc(100% - 68px) 4px,
		4px calc(100% - 68px), calc(100% - 68px) 4px, 4px calc(100% - 68px);
	background-repeat: no-repeat;

	position: relative;
	padding: 2.8rem 2rem;
	font-size: 1.6rem;

	h2 {
		font-family: 'Carter One', cursive;
		font-weight: 100;
		font-size: 30px;
		white-space: nowrap;
		margin-bottom: 20px;
		text-align: center;
	}

	&.frame-etymology {
		.etymology-inside-duo {
			display: flex;
			margin-top: 2.5rem;

			@media (max-width: 700px) {
				flex-direction: column;
			}
		}

		span {
			display: flex;
		}

		figure {
			max-width: 25%;
			flex: 1 0 100%;
			display: flex;
			align-items: center;
			padding-right: 1.5rem;

			@media (max-width: 700px) {
				margin-right: auto;
				margin-left: auto;
				max-width: 50%;
				margin-bottom: 1.5rem;
			}

			img {
				width: 100%;
			}
		}
	}

	&.frame-superstition {
		padding-bottom: 12rem;

		img {
			position: absolute;
			bottom: 0.1rem;
			right: 0;
			height: 12rem;
		}
	}

	&.frame-calculator {
		flex: 1;
		max-height: 62%;
		display: flex;
		flex-direction: column;

		h3 {
			text-align: center;
			margin-bottom: 1rem;
			font-size: 2.1rem;
			font-family: 'Carter One', cursive;
			font-weight: 100;
		}

		p {
			&:first-of-type {
				text-align: center;
				margin-bottom: 1.5rem;
				padding-right: 1rem;
				padding-left: 1rem;
				font-style: italic;
			}
			&:last-child {
				text-align: center;
				margin-top: 1.5rem;
			}
		}

		.frame-calc {
			margin: auto;
			height: 92px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.input-calc {
			background-color: transparent;
			height: 8.7rem;
			font-size: 2.4rem;
			font-family: 'Carter One', cursive;
			width: 17rem;
			position: absolute;
			padding: 1rem;
			text-align: center;
			line-height: 3.1rem;
			resize: none;
			color: #a33948;
			padding-left: 1.7rem;
			outline: none;
			border: none;
		}

		.img-calc {
			width: 17rem;
			display: block;
		}

		#humanAge {
			font-size: 2.4rem;
			font-family: 'Carter One', cursive;
		}
	}
}

.life-span-section {
	display: flex;

	@media (max-width: 700px) {
		flex-direction: column;
	}

	.lss-part-1 {
		flex: 1 0 55%;
		margin-right: 2rem;

		@media (max-width: 700px) {
			flex: 1 0 55%;
			margin-right: 0;
			margin-bottom: 1rem;
		}
	}

	.lss-part-2 {
		display: flex;
		flex-direction: column;

		.red-fill-frame {
			@media (max-width: 700px) {
				margin-bottom: 2rem;
			}
		}
	}
}

/* // noise texture
https://www.cssmatic.com/noise-texture */
